<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Home Page</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>

<nav>
    <h1>Teacher</h1>
</nav>

<div id="content">
    <h2>Teacher Data</h2>
    <table id="userTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <!-- User data rows will be added here using JavaScript -->
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="home.js"></script>
</body>
</html>
